.two{
    display: inline-block;
    flex-direction: row;
    margin: 2em 2em;
    float: right;
    margin: -60px;

}
h1{
    text-align: center;
    color: blueviolet
}
body{
    background-image: url("https://i.pinimg.com/564x/5e/45/89/5e45894b5de9dd98e4596c7eb1f01399.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h2{
    color:wheat;
    text-align: center;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
   
    